<!DOCTYPE html>
<html lang="{{ request.locale.iso_code }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="{{ canonical_url }}"> 
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    
    <!--FAVICON-->
    {% if settings.favicon != blank %}
        <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {% endif %}

   <!--TITLE-->
    <title>
        {{ page_title }}
        {% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}
        {% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}
        {% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
    </title>

    <!--DESCRIPTION-->
    {% if page_description %}
        <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    <!--METATAGS-->
    {% render 'meta-tags' %}  

    <!--APPJS IMPORT-->
    <script src="{{ 'app.js' | asset_url }}" type="module" defer></script>

    <!-- HOOK FOR HEADER -->
    {{ content_for_header }}

    <!--CSS-->
    <link rel="stylesheet" href="{{ 'main.css' | asset_url }}" async>
</head>
<body>
    {% section 'header' %}
    <main id="MainContent">
        {{ content_for_layout }}
    </main>
    {% section 'footer' %}
</body>
</html>